<div class="container">
    <div class="question">
        <div class="meta">
            <h1>{{ file.questions[file.currentQuestion].meta.title }}</h1>
            <h1>{{ file.questions[file.currentQuestion].meta.type }}</h1>
            <h1>{{ file.questions[file.currentQuestion].meta.instruction }}</h1>
        </div>
        <div class="answer-grid">
            <div class="format">
                <div
                    class="format-item"
                    *ngFor="
                        let formatItem of file.questions[file.currentQuestion]
                            .format
                    "
                >
                    {{ formatItem }}
                </div>
            </div>
            <div
                class="answer-rows"
                *ngFor="let row of file.questions[file.currentQuestion].answers"
            >
                <div class="answer-columns" *ngFor="let column of row">
                    {{ column }}
                </div>
            </div>
        </div>
    </div>
</div>
